<div >
<p>

   <div class="project-uchun mt-3 px-4">

        <%= link_to "Back to posts", posts_path, class: "btn btn-danger"%>
        <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-dark"%>
        <%= link_to edit_post_path(@post) do %>
        <button class="btn btn-primary">Edit</button>
   </div>


  <% end %>
</p>

<div class="project999">
  <div class="project123">
  <h2><%= @post.title %></h2>
   <h5><i class="bi bi-pen"></i><%= @post.user.email %> </h5>
    <h6><i class="bi bi-eye"></i> <%= pluralize(@post.views, "view") %></h6>
    <div>
    <%= simple_format @post.body %>
   </div>
</div>
<div class="container13">
  <%= render 'comments/form',
    post: @post,
    comment: @post.comments.build,
    submit_label: "Reply" %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment',
    post: @post,
    comment: comment %>
  <% end %>
</div>
</div>

</div>



